:root {
    --dark: #13293d;
    --light: #02c9df;
}

.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
}

html {
  color-scheme: #010101;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 2em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui;

  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0px 100px;
    background-color: var(--dark);
    color: var(--dark);
  }
  
  h1 {
    font-size: clamp(3rm, 10vw + 1rm, 5rem);
    font-family: serif;
    background-color: var(--light);
    color: var(--dark);
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15);
    }
  }

  .bounce {
    animation-name: bounce;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
  }
  
  nav a {
    color: var(--light);
    font-weight: bold;
    text-decoration: underline;
  }
  .nav-right {
    font-weight: 700;
    padding: 0.5em 1em;
    transition: transform 0.3s;
  }

  .nav-right:hover {
    transform: translateY(-10px);
  }

  .pic-1 img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .subtitle {
    background-color:#224b71;
    background-image: url("../assets/images/Eevee\ side\ pic#1.jpg");
    background-size: cover;
  }
  .subcon{
    color: var(--light);
  }