:root {
    --dark: #13293d;
    --light: #02c9df;
    --mid: #59a6ab;
}
/* (:root)- saves commands to use over and over again.*/

.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
}
/* (.animation)- class used for the duration of the bounce, and makes a smooth bounce.*/

h1, h2, h3 {
  text-wrap: balance;
}
/* (text-wrap)- makes a title wrap down when screen is smaller to look better*/

img {
  display: block;
  max-width: 100%;
  max-height: 350px;
}
/* sets all img's to a max size to look better in all screen sizes*/

body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 2em;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  /* set the body of HTML to the correct sizing and diretcion of texts/images.*/
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 15px;
    padding-block: 2rem;
    background-color: var(--dark);
    color: var(--dark);
    line-height: 1;
  }
  /* moves content inside header to where I want it*/

  .top {
    display: flex;
    flex-wrap: wrap;
  }
  
  h1 {
    font-size: clamp(3rm, 10vw + 1rm, 5rem);
    font-family: serif;
    background-color: var(--light);
    color: var(--dark);
  }
/* Changes the size, font, color of text, and background-color.*/

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15);
    }
  }

  .bounce {
    animation-name: bounce;
  }
  /* Makes my name in the header bounce when you open page and when you reload it.*/

  nav ul {
    display: flex;
    justify-content: space-between;
  }
  /* spaces out the list in the header*/
  
  nav a {
    color: var(--light);
    font-weight: bold;
    text-decoration: underline;
    /* makes changes to the text on the right navbar*/
  }
  .nav-right {
    padding: 20px;
    transition: transform 0.3s;
  }
  /* Adds space and gives a transform timing for hover*/

  .nav-right:hover {
    transform: translateY(-10px);
  }
  /* When hover over items on right navbar, makes them jump up and stay up while course is on them.*/

  .subtitle {
    background-color: var(--mid);
    width: 100%;
  }
  /* Parent of subtitle seatting to move it around.*/

  .subcon{
    color: var(--dark);
    text-align: center;
  }
  /* child of subtitle aligns text in middle*/

  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-block: 2rem;
    min-height: 100vh;
    background-color:black;
    background-image: url(../images/beach\ view.jpg);
    background-blend-mode:hard-light;
    background-attachment: fixed;
    background-size: cover;
  }
  /* changes everything in the parent of main element to flex start and gives my height with color*/

  .wrapper {
    padding: 0 1em;
    width: 70%;
    color: var(--light);
  }
  /* give everything under this wrapper attribute a margin from the left and color */

  .text-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    text-wrap: balance;
  }
  /* changes the font of the text and makes it look good in smaller screens*/

  .me {
    border: 5px solid var(--light);
  }
  /* adds a border on the picture of me.*/

  .wrapper-2 {
    margin-top: 20px;
    padding: 0 1em;
    width: 70%;
    color: var(--light);
  }
  /* adjust left, right, top, and bottom spacing*/

  .all-pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* makes the pictures all fit next to each other or under*/

  .all-pictures img {
    width: 200px;
    height: 190px;
    object-fit: fill;
    border: 5px solid var(--light);
  }
  /* add borders to pictures and fix some sizing issues*/

  .picture-text {
    color: var(--light);
  }
  /* Change image text color*/

  .picture2 {
    margin-left: 5px;
  }
  /* Change some spacing from the left*/ 

  .picture3 {
    margin-left: 5px;
  }

  .picture4 {
    margin-left: 5px;
  }
  /* Change some spacing from the left*/
  
  aside {
    float: left;
    margin-right: 100px;
  }

  .wrapper-3 {
    background-color: var(--mid);
    color: var(--dark);
    padding-left: 15%;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  footer h2 {
    display: flex;
    justify-content: center;
  }

  .footer {
    padding: 25px;
    transition: transform 0.3s;
    font-weight: bold;
    text-decoration: underline;
  }

  .footer1 {
    padding: 25px;
    font-weight: bold;
    text-decoration: underline;
  }

  .footer:hover {
    transform: translateY(-10px);
  }